[submodule "osu_analysis"]
	path = osu_analysis
	url = git@github.com:abraker-osu/osu_analysis.git
[submodule "osu_apiv1"]
	path = osu_apiv1
	url = git@github.com:abraker-osu/osu_apiv1.git
[submodule "osu_interfaces"]
	path = osu_interfaces
	url = git@github.com:abraker-osu/osu_interfaces.git
